@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">dev.VIEW/></h1>
    <p>Te ensinamos o melhor do mundo da programção, com cursos de C#, PYTHON, JAVA e muito mais.</p>
</div>
